*.exe
*.dll
*.cache
*.db
*.vsidx
MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C\#/Projetos/Aluno/Calculator/.vs/RestWithASPNETUdemy/v16/.suo
MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C\#/Projetos/Aluno/Calculator/.vs/RestWithASPNETUdemy/v17/.suo
*.v2
MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C\#/Projetos/Exemplos/S05_DEPOIS_ErudioMicroservices.NET6-REST_Recap/01_RestWithASPNETUdemy_ScaffoldViaVisualStudio/RestWithASPNETUdemy/.vs/RestWithASPNETUdemy/v16/.suo
MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C\#/Projetos/Exemplos/S05_DEPOIS_ErudioMicroservices.NET6-REST_Recap/02_RestWithASPNETUdemy_Calculator/RestWithASPNETUdemy/.vs/RestWithASPNETUdemy/v16/.suo
MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C\#/Projetos/Exemplos/S05_DEPOIS_ErudioMicroservices.NET6-REST_Recap/03_RestWithASPNETUdemy_UsingDiferentVerbs/RestWithASPNETUdemy/.vs/RestWithASPNETUdemy/v16/.suo
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/bin/Debug/net8.0/GeekShopping.ProductAPI.deps.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/bin/Debug/net8.0/GeekShopping.ProductAPI.pdb
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net8.0/GeekShopping.ProductAPI.AssemblyInfo.cs
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net8.0/GeekShopping.ProductAPI.csproj.FileListAbsolute.txt
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net8.0/GeekShopping.ProductAPI.MvcApplicationPartsAssemblyInfo.cs
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net8.0/GeekShopping.ProductAPI.pdb
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net8.0/GeekShopping.ProductAPI.sourcelink.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeeekShopping.Web/obj/Debug/net8.0/GeeekShopping.Web.AssemblyInfo.cs
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeeekShopping.Web/obj/Debug/net8.0/GeeekShopping.Web.MvcApplicationPartsAssemblyInfo.cs
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeeekShopping.Web/obj/Debug/net8.0/GeeekShopping.Web.csproj.FileListAbsolute.txt
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeeekShopping.Web/obj/Debug/net8.0/GeeekShopping.Web.pdb
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeeekShopping.Web/obj/Debug/net8.0/GeeekShopping.Web.sourcelink.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeeekShopping.Web/obj/Debug/net8.0/staticwebassets.build.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeeekShopping.Web/bin/Debug/net8.0/GeeekShopping.Web.deps.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeeekShopping.Web/bin/Debug/net8.0/GeeekShopping.Web.pdb
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/.vs/GeekShooping/v17/DocumentLayout.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/.vs/GeekShooping/v17/.suo
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeeekShopping.Web/obj/Debug/net8.0/GeeekShopping.Web.RazorAssemblyInfo.cs
*.bin
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net8.0/GeekShopping.ProductAPI.GeneratedMSBuildEditorConfig.editorconfig
*.json
*.txt
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/.vs/GeekShooping/v17/DocumentLayout.backup.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/.vs/ProjectEvaluation/geekshooping.projects.v7.bin
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/.vs/ProjectEvaluation/geekshooping.metadata.v7.bin
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/bin/Debug/net8.0/appsettings.Development.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/bin/Debug/net8.0/appsettings.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/bin/Debug/net8.0/GeekShopping.ProductAPI.runtimeconfig.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net6.0/EndpointInfo/GeekShopping.ProductAPI.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net6.0/ApiEndpoints.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net6.0/GeekShop.CAC5A1C3.Up2Date
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net6.0/GeekShopping.ProductAPI.AssemblyInfo.cs
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net6.0/GeekShopping.ProductAPI.csproj.BuildWithSkipAnalyzers
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net6.0/GeekShopping.ProductAPI.csproj.FileListAbsolute.txt
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net6.0/GeekShopping.ProductAPI.GeneratedMSBuildEditorConfig.editorconfig
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net6.0/GeekShopping.ProductAPI.GlobalUsings.g.cs
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net6.0/GeekShopping.ProductAPI.MvcApplicationPartsAssemblyInfo.cs
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net6.0/GeekShopping.ProductAPI.pdb
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net6.0/GeekShopping.ProductAPI.sourcelink.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net6.0/rjsmcshtml.dswa.cache.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net6.0/rjsmrazor.dswa.cache.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net6.0/rpswa.dswa.cache.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net6.0/staticwebassets.build.endpoints.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net6.0/staticwebassets.build.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net6.0/staticwebassets.references.upToDateCheck.txt
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net6.0/staticwebassets.removed.txt
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net8.0/staticwebassets/msbuild.build.GeekShopping.ProductAPI.props
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.GeekShopping.ProductAPI.props
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.GeekShopping.ProductAPI.props
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net8.0/staticwebassets.build.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/GeekShopping.ProductAPI.csproj.nuget.dgspec.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/GeekShopping.ProductAPI.csproj.nuget.g.props
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/GeekShopping.ProductAPI.csproj.nuget.g.targets
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/project.assets.json
*.pdb
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.Web/obj/Debug/net8.0/GeekShopping.Web.AssemblyInfo.cs
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.Web/obj/Debug/net8.0/GeekShopping.Web.GeneratedMSBuildEditorConfig.editorconfig
*.db-shm
*.db-wal
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.Web/obj/GeekShopping.Web.csproj.nuget.dgspec.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.Web/obj/GeekShopping.Web.csproj.nuget.g.props
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.Web/obj/project.assets.json
