*.exe
*.dll
*.cache
*.db
*.vsidx
MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C\#/Projetos/Aluno/Calculator/.vs/RestWithASPNETUdemy/v16/.suo
MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C\#/Projetos/Aluno/Calculator/.vs/RestWithASPNETUdemy/v17/.suo
*.v2
MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C\#/Projetos/Exemplos/S05_DEPOIS_ErudioMicroservices.NET6-REST_Recap/01_RestWithASPNETUdemy_ScaffoldViaVisualStudio/RestWithASPNETUdemy/.vs/RestWithASPNETUdemy/v16/.suo
MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C\#/Projetos/Exemplos/S05_DEPOIS_ErudioMicroservices.NET6-REST_Recap/02_RestWithASPNETUdemy_Calculator/RestWithASPNETUdemy/.vs/RestWithASPNETUdemy/v16/.suo
MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C\#/Projetos/Exemplos/S05_DEPOIS_ErudioMicroservices.NET6-REST_Recap/03_RestWithASPNETUdemy_UsingDiferentVerbs/RestWithASPNETUdemy/.vs/RestWithASPNETUdemy/v16/.suo
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/bin/Debug/net8.0/GeekShopping.ProductAPI.deps.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/bin/Debug/net8.0/GeekShopping.ProductAPI.pdb
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net8.0/GeekShopping.ProductAPI.AssemblyInfo.cs
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net8.0/GeekShopping.ProductAPI.csproj.FileListAbsolute.txt
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net8.0/GeekShopping.ProductAPI.MvcApplicationPartsAssemblyInfo.cs
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net8.0/GeekShopping.ProductAPI.pdb
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net8.0/GeekShopping.ProductAPI.sourcelink.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeeekShopping.Web/obj/Debug/net8.0/GeeekShopping.Web.AssemblyInfo.cs
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeeekShopping.Web/obj/Debug/net8.0/GeeekShopping.Web.MvcApplicationPartsAssemblyInfo.cs
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeeekShopping.Web/obj/Debug/net8.0/GeeekShopping.Web.csproj.FileListAbsolute.txt
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeeekShopping.Web/obj/Debug/net8.0/GeeekShopping.Web.pdb
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeeekShopping.Web/obj/Debug/net8.0/GeeekShopping.Web.sourcelink.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeeekShopping.Web/obj/Debug/net8.0/staticwebassets.build.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeeekShopping.Web/bin/Debug/net8.0/GeeekShopping.Web.deps.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeeekShopping.Web/bin/Debug/net8.0/GeeekShopping.Web.pdb
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/.vs/GeekShooping/v17/DocumentLayout.json
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/.vs/GeekShooping/v17/.suo
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeeekShopping.Web/obj/Debug/net8.0/GeeekShopping.Web.RazorAssemblyInfo.cs
*.bin
/MicroService/Arquitetura_Microsserviço_ASP.NET_NET 6_C#/Projetos/Aluno/GeekShooping/GeekShopping.ProductAPI/obj/Debug/net8.0/GeekShopping.ProductAPI.GeneratedMSBuildEditorConfig.editorconfig
*.json
*.txt
